<body class="profile-page">
<% provide(:title, 'Profile') %>

<%= render 'shared/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="profile-text">Welcome, <%= @user.email %></h1>
		</div>
	</div>

</div>



